@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ORAU Interview Evaluation</h1>
    <p>
        Using the tabs above you will find a series of tasks with requirements. Complete each to the best of your ability. Good luck!
    </p>
</div>
